<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>start_vue</title>
</head>
<body>
	<h1>Vueの勉強</h1>
	<div id="app">
		<router-link to="/index">Top</router-link>
		<router-link :to="{name: 'user', params: {userId: 123}}">Users</router-link>
		<router-link to="/users/123/posts">posts</router-link>
		<router-link to="/goTop">トップに戻る</router-link>
		<router-link to="/back">Topにエイリアス</router-link>
		<router-view></router-view>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="js/main.js"></script>
	<script src="js/router.js"></script>
</body>
</html>